<div id="container" class="container-narrow">
    <div class="navbar navbar-inverse navbar-top">
	<div class="navbar-inner">
	    <div class="nav-collapse">
	        <ul class="nav">
		    <li><a href="/exp">CalCulator</a></li>
		    <li><a href="/chat">Chat</a></li>
		    <!-- <li><a href="/join">Join</a></li> -->
		</ul>
	    </div>
	</div>
    </div>
